<title>Cagecat - 404 Not Found</title>
{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center" style="width: 33%;">
            <img src="/static/img/400.png" class="img-fluid" alt="">
            <h4>Oops! Something went wrong ...</h4>
            <h5>The requested URL was not found on this server.<br><br>If this should not be the case, please report this to cagecat@bioinformatics.nl</h5>
        </div>
    </div>
{% endblock %}
