<title>Cagecat - 500 Internal Server Error</title>
{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center" style="width: 33%;">
            <img src="/static/img/500.png" class="img-fluid" alt="">
            <h4>Oops! Something went wrong ...</h4>
            <h5>The server encountered an error and could not complete your request. Please try again. <br><br>If the problem persists, please report your case to cagecat@bioinformatics.nl</h5>
        </div>
    </div>
{% endblock %}
