<title>Cagecat - Cblaster Search</title>
{% extends 'base.html' %}
{% from "form_macros.html" import render_form_group %}
{% block content %}

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
        <div class="container d-flex align-items-center justify-content-between py-4 px-2">
            <h2>Cblaster Search</h2>
              <ol>
                <li><a href="/">Home</a></li>
                <li>Cblaster</li>
              </ol>
        </div>

    </section><!-- End Breadcrumbs -->

    <!-- ======= Input Form ======= -->
    <section class="inputform">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="container">
                <!-- General input -->
                <div class="row">
                    <!-- Job description -->
                    <div class="col-lg-6 mt-4">
                        <h3>Job description</h3>
                        {{ render_form_group(form.job_title) }}
                        {{ render_form_group(form.institution_name) }}
                        {{ render_form_group(form.email_address) }}
                    </div>

                    <!-- Search -->
                    <div class="col-lg-6 mt-4">
                        <h3>Search</h3>
                        {{ render_form_group(form.entrez_query) }}
                        {{ render_form_group(form.database, "form-select") }}
                        {{ render_form_group(form.maximum_hits) }}
                    </div>

                    <!-- Intermediate genes -->
                    <div class="col-lg-6 mt-4">
                        <h3>Intermediate genes</h3>
                        <div class="form-check">
                            {{ form.find_intermediate_genes(class="form-check-input") }}
                            {{ form.find_intermediate_genes.label(class="form-check-label") }}
                        </div>
                        {{ render_form_group(form.maximum_distance) }}
                        {{ render_form_group(form.maximum_clusters) }}
                    </div>

                    <!-- Input -->
                    <div class="col-lg-6 mt-4">
                        <h3>Input Query</h3>
                        <!-- Remote, HMM or Remote + HMM -->
                        {% for subfield in form.input_type %}
                            <div class="form-check form-check-inline">
                                {{ subfield(onchange="toggleInputTypeSection()", class="form-check-input", id=subfield.data + "Checkbox") }}
                                {{ subfield.label(class="form-check-label") }}
                            </div>
                        {% endfor %}
                        <!-- Input type -->
                        <!-- displayed only if one of the remote options are checked -->
                        <div id="inputTypeSection" style="display: none;">
                            <h4>Input type</h4>
                            {% for subfield in form.remote_input_type %}
                            <div class="form-check form-check-inline">
                                {{ subfield(class="form-check-input", id=subfield.data + "Checkbox", onchange="toggleFileSection()") }}
                                {{ subfield.label(class="form-check-label") }}
                            </div>
                            {% endfor %}
                        </div>
                        <!-- File upload -->
                        <!-- displayed only if one of the remote options + file is checked -->
                        <div id="fileSection" style="display: none;">
                            <div class="mt-4">
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </div>

                        <div id="databaseEntry" style="display: none;">
                            <div class="mt-4">
                                {{ form.database_entry.label }}
                                {{ form.database_entry(class="form-control", id="databaseEntry", onchange="toggleInputTypeSection()") }}
                            </div>
                        </div>
                    </div>
                    <!-- End Input -->
                </div>
                <!-- End General input -->

                <!-- Advanced settings button -->
                <div class="container">
                    <div class="mt-4">
                    <button class="btn btn-outline-success btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#advancedSection" aria-expanded="false" aria-controls="advancedSection">
                        Advanced settings
                    </button>
                    </div>
                </div>
            </div>

            <!-- Advanced settings -->
            <div class="container">
                <div class="collapse" id="advancedSection">
                    <div class="row">
                        <!-- Filtering -->
                        <div class="col-lg-3">
                            <h4>Filtering</h4>
                            {{ render_form_group(form.max_e_value) }}
                            {{ render_form_group(form.min_identity) }}
                            {{ render_form_group(form.min_query_coverage) }}
                        </div>

                        <!-- Clustering -->
                        <div class="col-lg-3">
                            <h4>Clustering</h4>
                            {{ render_form_group(form.max_intergenic_gap) }}
                            {{ render_form_group(form.min_presence_percentage) }}
                            {{ render_form_group(form.min_unique_hits) }}
                            {{ render_form_group(form.min_cluster_hits) }}
                            {{ render_form_group(form.required_sequences) }}
                        </div>

                        <!-- Summary table -->
                        <div class="col-lg-3">
                            <h4>Summary table</h4>
                            {{ render_form_group(form.summary_delimiter) }}
                            {{ render_form_group(form.summary_decimal) }}
                            <div class="form-check mt-3">
                                {{ form.summary_hide_header(class="form-check-input") }}
                                {{ form.summary_hide_header.label(class="form-check-label") }}
                            </div>
                        </div>

                        <!-- Binary table -->
                        <div class="col-lg-3">
                            <h4>Binary table</h4>
                            {{ render_form_group(form.binary_delimiter) }}
                            {{ render_form_group(form.binary_decimal) }}
                            {{ render_form_group(form.key_function) }}
                            {{ render_form_group(form.hit_attribute) }}
                            <div class="form-check mt-3">
                                {{ form.binary_hide_header(class="form-check-input") }}
                                {{ form.binary_hide_header.label(class="form-check-label") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Advanced settings -->

        <!-- Submit button -->
        <div class="container">
            <div class="mt-3">
                {{ form.submit(class="btn btn-outline-success btn-lg w-100") }}
            </div>
        </div>
        </form>
    </section>
    <!-- End Input Form -->

    <!-- Link to the JavaScript file for toggling Intermediate genes -->
    <script src="/static/js/cblaster_search_form.js"></script>
{% endblock %}